body {
    font-family: "Arial", sans-serif;
}
section {
    text-align: center;
}

.ContourGameNwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81.938rem;
    height: 49.5rem;

    background: #EA2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.625rem;
}

.PadBorder{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79.063rem;
    height: 45.75rem;

    background: #DBAD69;
    border-radius: 32px;
    box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.25);
}

.ScreenBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34.9375rem;
    height: 38.9375rem;

    background: #E7C593;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.75rem;
}

.GameScreen{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31.9375rem;
    height: 36.375rem;

    background: #000000;
    box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 1.75rem;

}
.GameContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
line-height: 100px;
    font-size: 60px;
}

.GameRestart{
    align-self: center;
    width: 35%;
    padding: 0.5rem;

    font-family: fantasy;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;

    color: #FFFFFF;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46px;
}
